* {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
}

body { 
	height: 100%;
	/*����ʾ�������
	overflow: hidden;*/
}

.header {
	color: black;
	width: 100%;
	height: 100px;
}

.main {
	height: 550px;
	/* overflow: hidden; */
	/*�ڱ߾���Ϊheader�߶ȣ���Ϊfooter�߶ȣ���ʵ������Ӧ�߶�
	padding-top:100px;
	padding-bottom:30px;*/
}
.sidebar {
	float:left;
	width: 140px;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
    vertical-align: top;
}
.content {
	height:100%;
	margin-left: 10px;
	/*background-color: red;*/
}

.footer {
	height: 30px;
	background: #DDDDDD;
	text-align: center;
}

/*CSS HACK for FF
div[class="footer"] { 
	position: absolute;
	bottom: 0;
	width: 100%;
}*/

/*ͷ����ʽ*/
.top {
    height: 30px;
    line-height:30px;
    width:100%;
    background: url("../images/top_bg_line.gif") repeat-x scroll 0 0 transparent;
}
.top_left {
	position:absolute;
	float:left;
    width: 45%;
}
.f1{
	margin-left:20px;
    padding-left:20px;
    font-size: 12px; 
	text-align: left; 
	padding:10px;
	padding-left:16px;
    background:url(../images/user.gif) no-repeat left center;
}
.top_right {
	position:absolute;
	right:0px;
    width: 45%;
    text-align: right;
}
.top_right a {
    margin-right: 10px;
    font-size: 12px; 
	text-align: left; 
	padding:10px;
	padding-left:16px;
	text-decoration: none;
	color: black;
}
.top_ico0 {
	background:url(../images/house.png) no-repeat left center;
}
.top_ico1 {
	background:url(../images/top_ico1.gif) no-repeat left center;
}
.top_ico2 {
	background:url(../images/top_ico2.gif) no-repeat left center;
}
.top_ico3 {
	background:url(../images/top_ico3.gif) no-repeat left center;
}
.top2 {
    width: 100%;
    height: 60px;
    background: url("../images/top_bg.gif") repeat-x scroll 0 0 transparent;
}
.pro_id{
	font-size: 36px;
	font-weight: bolder;
	font-style:italic;
	color:white;
	padding: 10px 10px 10px 30px;
}
/*���˵���ʽ*/
.menuTitle {
    background: url("../images/left_title.gif") no-repeat scroll 0px center transparent;
    color: #1F8FE1;
    cursor: pointer;
    font-weight: bold;
    height: 25px;
    line-height: 28px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.sidebar li {
    background: url("../images/arr4.gif") no-repeat scroll 15px center transparent;
    height: 25px;
    line-height: 25px;
    text-align: center;
    list-style: none;
}
.sidebar li a {
    display: block;
    text-decoration: none;
    color: #333333;
}
.sidebar li a:hover{
    color: red;
    text-decoration: none;
}
.sidebar li.cur{
	color: red;
    text-decoration: none;
}
.seperator{
	width: 100%;
	height: 5px;
	background-color: white;
}

.title_area {
    background-image: url("../images/pageHead1.gif");
}
.pageHead table{
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    border-style: none none dotted;
    border-width: 0 0 1px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.pageBody{
	height: 100%;
}

